<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductModalLabel">Eliminar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

</div>
      <div class="modal-body">
        <form id="deleteProductForm">
          <div class="mb-3">
            <label for="title" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <button type="submit" class="btn btn-primary">Eliminar</button>
        </form>
      </div>
    </div>
  </div>

</div>