<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-+MdYBSu6kKpBn0q7rVoEvns5n8P6Ftl1nE+0+qg5gXQlHq4Aj7Bf6dXaP5w9+a1b"
      crossorigin="anonymous">
    <title>Productos</title>
</head>
<body>
  {{{body}}}

  <!-- Bootstrap 5 JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"

    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"

    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"

    integrity="sha384-3oW6s5dxCfmcBvztfDm2vL+Vl5aCgGpS3aLQ5B12wE00iSKFJ8ZqDViMoQA27EuD"

    crossorigin="anonymous"></script>

</body>


</html>
